/*Templatka systemu*/
body{
	padding:0px;
	margin:0px
}
#wrapper{
	background-image:url("#{resource['images:fale2.jpg']}"); 
}
#header{
	width:auto;
	
	background-image:url("#{resource['images:header.jpg']}"); 
	background-repeat:repeat-x;
}
#header_container{
	
	margin-left:auto;
	margin-right:auto;
	width:940px;

}
#logo{
	height:30px;
	margin-top:5px;
}
ul{
	list-style-type:none;
}
#nawigacja{
	float:right;
	margin-right:100px;
}
#nawigacja ul {
	float:right;
	border-color:blue;
	margin-top:8px;
}
#nawigacja ul li{
	float:left;
	padding-right:20px;
}

.activeOut{ 
	cursor:pointer;
	color: #0e68a7;
	height:20px;
	font-family: Helvetica,arial,freesans,clean, sans-serif;
	font-size:14px;
}

.passive{ 
	cursor:pointer;
	color: #0ea74b;
	height:20px;
	font-family: Helvetica,arial,freesans,clean, sans-serif;
	font-size:14px;
}
.activeIn{
	cursor:pointer;
	color: #ff556f7c;
	height:20px;
	font-family: Helvetica,arial,freesans,clean, sans-serif;
	font-size:14px;
}
/*--------Koniec templatki systemu-----------*/


#text_container{
	margin-top:40px;
	margin-bottom:80px;
	width:900px;
	border-radius:6px;
	
	background-image:url("#{resource['images:tlosteto.png']}");
	padding:10px;
	padding-right:15px;
	
}

#main_container{
	
	margin-top:40px;
	margin-bottom:80px;
	margin-left:auto;
	margin-right:auto;
	border-radius:6px;
	background-image:url("#{resource['images:tlosteto.png']}");
	padding:10px;
	padding-right:15px;
	width:940px;
	min-height:500px;
}
#main_container_header{
	margin-left:auto;
	margin-right:auto;
	width:940px;
}
#main_container_content{
	
}
.main_container_content_header{
	margin-top:20px; 
	margin-left:20px;
	margin-bottom:20px;
	font-family: Helvetica,arial,freesans,clean, sans-serif;
	font-size:20px;
	color: #0e68a7;
}
.main_container_content_header_lower{
	font-family: Helvetica,arial,freesans,clean, sans-serif;
	font-size:20px;
	color: #0ea74b;
}
/*---------edytorp formularz-----------------*/
#edytorp_main_container_content{
	font-family: Helvetica,arial,freesans,clean, sans-serif;
	font-size:14px;
	color:#556f7c;
}
.edytorp_font_bold{
	
	font-weight:bold;
}
/*-------panelp------------------------------*/
#app{
	padding-left:80px;
	paDDING-RIGHT:80px;
}
/*--------uslugi-----------------------------*/
#uslugi_tabela{
	padding-left:100px;
	padding-right:100px;
}
.ui-dialog{
	font-family: Helvetica,arial,freesans,clean, sans-serif;
	font-size:14px;
}
.ui-datepicker 
{
	font-family: Helvetica,arial,freesans,clean, sans-serif;
	font-size:14px;
}


/*---------footer----------------------------*/
#footer{
	width:auto;
	padding-bottom:0px;
	background-image:url("#{resource['images:footer.png']}"); 
	background-repeat:repeat-x;
}
#footer_container{
	margin-left:auto;
	margin-right:auto;
	width:940px;
	

}
#footer_container_message{
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	width:400px;
	height:50px;
	
}
#footer_container_message a{
	font-family: Helvetica,arial,freesans,clean, sans-serif;
	font-size:12px;
	color:#556f7c;
	}
/*--------------------------------------*/
.ui-datatable {
	font-family: Helvetica,arial,freesans,clean, sans-serif;
	font-size:14px;
	color:#556f7c;
	
}
.ui-button {
	font-family: Helvetica,arial,freesans,clean, sans-serif;
	font-size:14px;
}
.ui-tabs 
{
	font-family: Helvetica,arial,freesans,clean, sans-serif;
	font-size:14px;
	background-color:#d9e7f3;
}
.ui-tabs-nav 
{
	background-color:#d9e7f3;
}
.ui-tabs-panel 
{
	background-color:#d9e7f3;
}
#kalendarz{
	font-family: Helvetica,arial,freesans,clean, sans-serif;
	font-size:14px;
}
h2{
	font-family: Helvetica,arial,freesans,clean, sans-serif;
	font-size:18px;
	color:#556f7c;
}